body {
    background-color: white;
    margin: 0;
}

.screen-border {
    position: relative;
    width: 100vw;
    height: auto;
    background-color: lightgrey;
    overflow: hidden;
    padding: 5vw; /* Adjust the padding as needed */
  }
  
  .main-content {
    position: relative;
    /* margin: 1vw; */
    width: 90vw; /* Adjust the width as needed */
    height: auto; /* Adjust the height as needed */
    background-color: #fff;
    border: .2vw solid gray;
    border-radius: 1vw;
    z-index: 200;
  }


main {
    margin-bottom: 10vw;
}

#menu {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 6vw;
    padding: 1vw;
    padding-left: 8vw;
}

/* .menu-container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
} */

.item {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 70vw;
    border-top: .2vw solid gray;
    font-weight: normal;
    flex-wrap: wrap;

}

h2 {
    color: black;
    font-size: 2.5vw;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-weight: 100;
}

b {
    font-weight: 600;
}

.content {
    display: none;
    flex-flow: row;
}

.item.active .content {
    display: flex;
    flex-flow: row;
}

.grid {
    display: flex;
    flex-direction: column;
    padding: 3vw;
}

.txt {
    width: 30vw;
    font-size: 2vw;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    padding-right: 1vw;
    text-align: left;
}

.preview {
    background-color: white;
    /* cursor: pointer; */
    border: none;
    display: flex;
    flex-flow: row;
    border-radius: 1vw;
}

.preview:hover {
    background-color: lightgray;
}

button {
    cursor: pointer;
}

.imgs {
    display: block;
    max-width: 30vw;
    /* padding: 1vw; */
    margin: 2vw;
    border-radius: 2vw;
    border: .2vw solid black;
}

/* main {
    justify-content: center;
    align-items: center;
} */

.page-link {
    position: relative;
    font-size: 2.5vw;
    color: black;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    width: fit-content;
    text-decoration: none;
    padding: 1vw;
    border-radius: 4vw;
    border: .2vw solid black;
    left: 25vw;
}

.menu-item {
    display: flex;
    font-size: 2vw;
    color: black;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    width: fit-content;
    text-decoration: none;
    margin: 1vw;
    padding: 1vw;
    border-radius: 4vw;
    border: .2vw solid black;
}

.menu-item .icon {
    display: inline-block;
    /* margin-left: .5vw; */
    margin-right: 1vw;
    transition: transform 0.3s;
  }
  
.menu-item.active .icon {
    transform: rotate(45deg);
}

#logo {
    position: relative;
    background-color: white;
    left: 43vw;
    top: 1vw;
    border: .2vw solid black;
    padding-right: -0.5vw;
    border-radius: 7vw;
    max-height: 10vw;
    z-index: 1;
}

#logo:hover {
    content: url(images/G-logo2.github.png);
}

#main-page-overlay {
    position: fixed;
    top: 0;
    left: -42vw; /* Start offscreen to the left */
    width: 40vw;
    height: 90vh;
    background-color: rgb(195, 194, 194);
    border: .2vw solid rgb(111, 111, 111);
    margin: 1vw;
    border-radius: 2vw;
    transition: transform 0.5s;
    z-index: 1000;
}

  
  
#main-page-overlay.active {
    transform: translateX(42vw); /* Slide in to cover a quarter of the screen */
}

#main-page-overlay #logo {
  transition: transform 0.5s;
}

#main-page-overlay.active #logo {
  transform: rotate(270deg); /* Move and rotate the logo along with the page */
}

.menu-item:hover,
.menu-item.active {
    color: white;
    background-color: black;
}

.page-link:hover {
    color: white;
    background-color: black;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
    padding: 5vw; /* Adjust the padding as needed */
    box-sizing: border-box;
  }
  
.video {
    border-radius: 2vw; /* Adjust the value as needed for desired roundness */
    max-width: 70vw;
    max-height: auto;
}
  
