body {
    background-color: slategray;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
}

.button {
    display: flex;
    font-size: 30px;
    color: black;
    background-color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    width: fit-content;
    white-space: nowrap;
    text-decoration: none;
    /* margin: 10px; */
    padding: 10px;
    border-radius: 100px;
    overflow: visible;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-width: 0;
}

.button:hover {
    /* color: whitesmoke;
    background-color: black; */
    text-decoration: underline;
    box-shadow: none;
    cursor: pointer;
}

img {
    display: block;
    height: 25px;
    width: auto;
    padding: 2px;
    padding-right: 10px;
    align-self: center;
}