body {
    background-color: black;
}

div {
    font-size: 36px;
    text-align: center;
}

#text p {
    color: whitesmoke;
    margin: 5px;
}

#text section {
    color: red;
    margin: 5px;
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }